.calc_simples{
    background-color: olive;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}
.visor{
    text-align: center;
    background-color: rgb(196, 241, 213);
}
#resultado{
    background-color: darkcyan;
    color: darkslategrey;
}
.teclas{
    padding: 5px;
}
button{
    width: 40px;
    height: 40px;
    margin: 3px;
}
#igual{
    background-color: lightgreen;
}